[submodule "pcb/libs/seeed-opl"]
	path = pcb/libs/seeed-opl
	url = git@github.com-s:Seeed-Studio/OPL_Kicad_Library.git
	branch = master
[submodule "firmware/SlimeVR-Tracker-nRF"]
	path = firmware/SlimeVR-Tracker-nRF
	url = git@github.com-s:biscuitvixen/SlimeVR-Tracker-nRF.git
	branch = xiao-smol-slimes
[submodule "firmware/SlimeVR-Tracker-nRF-Receiver"]
	path = firmware/SlimeVR-Tracker-nRF-Receiver
	url = git@github.com-s:biscuitvixen/SlimeVR-Tracker-nRF-Receiver.git
	branch = master
